{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "browsers": [
                        "Android >= 4.0",
                        "ios >= 7"
                    ]
                },
                "corejs": "2",
                "useBuiltIns": "false",
                "debug": false,
            }
        ],
    ],
    "plugins": [
        // "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-runtime"
    ]
}